html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);*/
  background-color: #282C34;
  min-height: 100%;
  padding-bottom: 5rem;
}

h1, h2, h3, h4, h5  {
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', cursive;
  letter-spacing: 1px;
  font-weight: bold;
}

p{
  font-size: 20px;
  color: white;
}

input{
  outline: none;
}

.lista-tareas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-tareas .media:last-of-type{
  border-bottom: 0;
}

.lista-tareas .media-body p {
  margin:0;
}

.lista-tareas .media-body button {
  margin-top: 1rem!important;
}

.lista-tareas .media-body span {
  font-weight: bold;
}

label {
  color: white;
}

input[type="date"],
input[type="time"] {
  height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

button{
  color: white;
}

button:hover{
  color: white;
  font-weight: 500;
}

.tarea {
  padding: 2rem;
  background-color:white;
  border-bottom: 2px solid #FFFFFF;
  /*margin-bottom: 10px;*/
}

.tarea p {
  font-weight: bold;
  margin-bottom: .8rem;
  font-size: 17px;
  color: #282C34; 
}
.tarea span {
  font-weight: 400;
  font-style: normal;
  color: #282C34;

}
.tarea:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /*border-bottom-left-radius: 1rem;*/
}
.tarea:last-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /*border-bottom-left-radius: 1rem;*/
}

/*.button .eliminar,
.button .eliminar:hover {
  background-color: #e41548 !important; 
  color: white;
  margin-top: 2rem;
}*/

.alerta-error {
  background-color: #ff2e63;
  color: white;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  font-style: oblique;
  font-weight: 400;
}